In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=UserWarning)

In [2]:
def check_data(cell):
    """
    Метод для проверки значения ячейки
    :param cell: значение ячейки
    :return: число в формате int
    """
    if cell is np.nan:
        return 0
    if cell.isdigit():
        return int(cell)
    else:
        return 0

In [3]:

def check_error(df:pd.DataFrame,error_df:pd.DataFrame):
    """
    Функция для проверки правильности введеденных данных
    :param df: копия датафрейма с данными из файла поо
    :param error_df: датафрейм с ошибками
    :return:
    """
    # конвертируем в инт
    df = df.applymap(check_data)
    df

In [7]:
# создаем словарь верхнего уровня для каждого поо
high_level_dct = {}
# создаем датафрейм для регистрации ошибок
error_df = pd.DataFrame(columns=['Название файла','Номер строки с ошибкой','Описание ошибки',])

primal_df = pd.read_excel('data/poo/Брит - 2022.xlsx',skiprows=7,dtype=str)
primal_df.columns = list(map(str, primal_df.columns))
# Заполняем пока пропуски в 15 ячейке для каждой специальности
primal_df['06'] = primal_df['06'].fillna('15 ячейка')
# Проводим проверку на корректность данных, отправляем копию датафрейма
# check_error(df.iloc[:,6:32], error_df)

In [10]:
df = primal_df.iloc[:,6:32]
df = df.applymap(check_data)

In [11]:
df

,07,08,09,10,11,12,13,14,15,16,...,23,24,25,26,27,28,29,30,31,32
0,21,8,7,100,0,0,9,3,0,1,...,0,0,0,0,0,0,0,0,0,0
1,45,21,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
252,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# получаем количество датафреймов
quantity = df.shape[0] // 15
# счетчик для обработанных датафреймов
border = 0

In [20]:
for i in range(1):
    temp_df = df.iloc[border:border +15,:]
    print(temp_df)
    border += 15

    07  08  09   10  11  12  13  14  15  16  ...  23  24  25  26  27  28  29  \
0   21   8   7  100   0   0   9   3   0   1  ...   0   0   0   0   0   0   0
1   45  21   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
2    0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
3    0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4    0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
5   45  21   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
6    0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
7    0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
8    0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
9    0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
10   0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
11   0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
12   0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
13   0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
14   0   0   0    0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0

    30  31  32
0    0   0   0
1    0   0   0
2    0   0   0
3    0   0   0
4    0   0   0
5    0   0   0
6    0   0   0
7    0   0   0
8    0   0   0
9    0   0   0
10   0   0   0
11   0   0   0
12   0   0   0
13   0   0   0
14   0   0   0

[15 rows x 26 columns]