In [91]:
"""
Скрипт для сравнения двух файлов свода данных 
"""

'\nСкрипт для сравнения двух файлов свода данных \n'

In [92]:
import pandas as pd
import numpy as np
import openpyxl

In [93]:
first_file = 'data/Аналитика по вакансиям региона/15_03_2024/Свод по региону Бурятия от 14 марта.xlsx'
second_file = 'data/Аналитика по вакансиям региона/16_03_2024/Свод по региону Бурятия от 16 марта.xlsx'

In [94]:
first_df = pd.read_excel(first_file) # первый файл для сравнения
second_df = pd.read_excel(second_file) # второй файл для сравнения

In [95]:
# Список обязательных колонок 
lst_svod_sheets = ['Вакансии по отраслям','Вакансии по работодателям','Зарплата по отраслям','Зарплата по работодателям',
                   'Образование по отраслям','Образование по работодателям','График работы по отраслям','График работы по работодателям',
                   'Тип занятости по отраслям','Тип занятости по работодателям','Квоты по отраслям','Квоты по работодателям',
                   'Требуемый опыт по отраслям','Требуемый опыт по работодателям']

In [96]:
lst_not_standard_sheets = ['Зарплата по отраслям','Зарплата по работодателям'] # список листов без колонки Количество вакансий

In [97]:
first_df.head()

                                  Сфера деятельности  Количество вакансий
0                                       Производство                 1724
1  Строительство, ремонт, стройматериалы, недвижи...                 1589
2           Здравоохранение и социальное обеспечение                 1491
3              Продажи, закупки, снабжение, торговля                  734
4                                 Образование, наука                  732

In [98]:
second_df.head()

                                  Сфера деятельности  Количество вакансий
0                                       Производство                 1800
1           Здравоохранение и социальное обеспечение                 1491
2              Продажи, закупки, снабжение, торговля                  734
3                                 Образование, наука                  732
4  Государственная служба, некоммерческие организ...                  715

In [99]:
first_key_columns = list(first_df.columns)
first_key_columns.remove('Количество вакансий')

second_key_columns = list(second_df.columns)
second_key_columns.remove('Количество вакансий')

In [100]:
first_key_columns

['Сфера деятельности']

In [101]:
# Делаем колонки на основе котороых будут создаваться ID строковыми
first_df[first_key_columns] = first_df[first_key_columns].astype(str)
second_df[second_key_columns] = second_df[second_key_columns].astype(str)

In [102]:
# Создаем колонки по которой будет вестись объединение
first_df['ID'] = first_df[first_key_columns].sum(axis=1)
second_df['ID'] = second_df[second_key_columns].sum(axis=1)

In [103]:
second_df.head()

,Сфера деятельности,Количество вакансий,ID
0,Производство,1800,Производство
1,Здравоохранение и социальное обеспечение,1491,Здравоохранение и социальное обеспечение
2,"Продажи, закупки, снабжение, торговля",734,"Продажи, закупки, снабжение, торговля"
3,"Образование, наука",732,"Образование, наука"
4,"Государственная служба, некоммерческие организ...",715,"Государственная служба, некоммерческие организ..."

In [104]:
merge_df = first_df.merge(second_df,how='outer',left_on=['ID'],right_on=['ID'],indicator=True)

In [105]:
merge_df

,Сфера деятельности_x,Количество вакансий_x,ID,Сфера деятельности_y,Количество вакансий_y,_merge
0,Производство,1724.0,Производство,Производство,1800.0,both
1,"Строительство, ремонт, стройматериалы, недвижи...",1589.0,"Строительство, ремонт, стройматериалы, недвижи...",NaN,NaN,left_only
2,Здравоохранение и социальное обеспечение,1491.0,Здравоохранение и социальное обеспечение,Здравоохранение и социальное обеспечение,1491.0,both
3,"Продажи, закупки, снабжение, торговля",734.0,"Продажи, закупки, снабжение, торговля","Продажи, закупки, снабжение, торговля",734.0,both
4,"Образование, наука",732.0,"Образование, наука","Образование, наука",732.0,both
5,"Государственная служба, некоммерческие организ...",715.0,"Государственная служба, некоммерческие организ...","Государственная служба, некоммерческие организ...",715.0,both
6,Добывающая промышленность,466.0,Добывающая промышленность,Добывающая промышленность,466.0,both
7,"Транспорт, автобизнес, логистика, склад, ВЭД",461.0,"Транспорт, автобизнес, логистика, склад, ВЭД","Транспорт, автобизнес, логистика, склад, ВЭД",461.0,both
8,"Лесная, деревообрабатывающая, целлюлозно-бумаж...",363.0,"Лесная, деревообрабатывающая, целлюлозно-бумаж...","Лесная, деревообрабатывающая, целлюлозно-бумаж...",363.0,both
9,"ЖКХ, эксплуатация",320.0,"ЖКХ, эксплуатация","ЖКХ, эксплуатация",320.0,both
10,Электроэнергетика,314.0,Электроэнергетика,Электроэнергетика,314.0,both
11,"Безопасность, службы охраны",300.0,"Безопасность, службы охраны","Безопасность, службы охраны",300.0,both
12,Пищевая промышленность,280.0,Пищевая промышленность,Пищевая промышленность,280.0,both
13,"Работы, не требующие квалификации",226.0,"Работы, не требующие квалификации","Работы, не требующие квалификации",226.0,both
14,Юриспруденция,203.0,Юриспруденция,Юриспруденция,203.0,both
15,Рабочие специальности,173.0,Рабочие специальности,Рабочие специальности,173.0,both
16,"Административная работа, секретариат, АХО",150.0,"Административная работа, секретариат, АХО","Административная работа, секретариат, АХО",150.0,both
17,"Сельское хозяйство, экология, ветеринария",145.0,"Сельское хозяйство, экология, ветеринария","Сельское хозяйство, экология, ветеринария",145.0,both
18,"Информационные технологии, телекоммуникации, с...",106.0,"Информационные технологии, телекоммуникации, с...","Информационные технологии, телекоммуникации, с...",106.0,both
19,"Туризм, гостиницы, рестораны",100.0,"Туризм, гостиницы, рестораны","Туризм, гостиницы, рестораны",100.0,both
20,Машиностроение,98.0,Машиностроение,Машиностроение,98.0,both
21,"Металлургия, металлообработка",78.0,"Металлургия, металлообработка","Металлургия, металлообработка",78.0,both
22,"Искусство, культура и развлечения",77.0,"Искусство, культура и развлечения","Искусство, культура и развлечения",77.0,both
23,"Бухгалтерия, налоги, управленческий учет",68.0,"Бухгалтерия, налоги, управленческий учет","Бухгалтерия, налоги, управленческий учет",68.0,both
24,"Услуги населению, сервисное обслуживание",67.0,"Услуги населению, сервисное обслуживание","Услуги населению, сервисное обслуживание",67.0,both
25,"Консалтинг, стратегическое развитие, управление",57.0,"Консалтинг, стратегическое развитие, управление","Консалтинг, стратегическое развитие, управление",57.0,both
26,"Банки, кредит, страхование, пенсионное обеспеч...",47.0,"Банки, кредит, страхование, пенсионное обеспеч...","Банки, кредит, страхование, пенсионное обеспеч...",47.0,both
27,Легкая промышленность,18.0,Легкая промышленность,Легкая промышленность,18.0,both
28,"Маркетинг, реклама, PR",15.0,"Маркетинг, реклама, PR","Маркетинг, реклама, PR",15.0,both
29,Домашний персонал,12.0,Домашний персонал,Домашний персонал,12.0,both
30,"Кадровая служба, управление персоналом",11.0,"Кадровая служба, управление персоналом","Кадровая служба, управление персоналом",11.0,both
31,"Спорт, фитнес, салоны красоты",8.0,"Спорт, фитнес, салоны красоты","Спорт, фитнес, салоны красоты",8.0,both
32,Высший менеджмент,4.0,Высший менеджмент,Высший менеджмент,4.0,both
33,Итого,11154.0,Итого,Итого,11154.0,both
34,NaN,NaN,"Химическая, нефтехимическая, топливная промышл...","Химическая, нефтехимическая, топливная промышл...",2.0,right_only

In [110]:
# удаляем лишние колонки
del_columns = [column for column in merge_df.columns if ('вакансий' not in column) & ('ID' not in column)]

In [111]:
del_columns

['Сфера деятельности_x', 'Сфера деятельности_y', '_merge']

In [112]:
merge_df.drop(columns=del_columns,inplace=True)

In [116]:
merge_df=merge_df.reindex(columns=['ID','Количество вакансий_x','Количество вакансий_y']) # меняем местами
merge_df.columns = ['Показатель','Первая таблица','Вторая таблица']

In [118]:
merge_df.fillna(0,inplace=True)

In [121]:
merge_df[['Первая таблица','Вторая таблица']] = merge_df[['Первая таблица','Вторая таблица']].astype(float,errors='ignore')

In [125]:
merge_df['Абсолютная разница'] = merge_df['Вторая таблица'] - merge_df['Первая таблица']

In [126]:
merge_df

,Показатель,Первая таблица,Вторая таблица,Абсолютная разница
0,Производство,1724.0,1800.0,76.0
1,"Строительство, ремонт, стройматериалы, недвижи...",1589.0,0.0,-1589.0
2,Здравоохранение и социальное обеспечение,1491.0,1491.0,0.0
3,"Продажи, закупки, снабжение, торговля",734.0,734.0,0.0
4,"Образование, наука",732.0,732.0,0.0
5,"Государственная служба, некоммерческие организ...",715.0,715.0,0.0
6,Добывающая промышленность,466.0,466.0,0.0
7,"Транспорт, автобизнес, логистика, склад, ВЭД",461.0,461.0,0.0
8,"Лесная, деревообрабатывающая, целлюлозно-бумаж...",363.0,363.0,0.0
9,"ЖКХ, эксплуатация",320.0,320.0,0.0
10,Электроэнергетика,314.0,314.0,0.0
11,"Безопасность, службы охраны",300.0,300.0,0.0
12,Пищевая промышленность,280.0,280.0,0.0
13,"Работы, не требующие квалификации",226.0,226.0,0.0
14,Юриспруденция,203.0,203.0,0.0
15,Рабочие специальности,173.0,173.0,0.0
16,"Административная работа, секретариат, АХО",150.0,150.0,0.0
17,"Сельское хозяйство, экология, ветеринария",145.0,145.0,0.0
18,"Информационные технологии, телекоммуникации, с...",106.0,106.0,0.0
19,"Туризм, гостиницы, рестораны",100.0,100.0,0.0
20,Машиностроение,98.0,98.0,0.0
21,"Металлургия, металлообработка",78.0,78.0,0.0
22,"Искусство, культура и развлечения",77.0,77.0,0.0
23,"Бухгалтерия, налоги, управленческий учет",68.0,68.0,0.0
24,"Услуги населению, сервисное обслуживание",67.0,67.0,0.0
25,"Консалтинг, стратегическое развитие, управление",57.0,57.0,0.0
26,"Банки, кредит, страхование, пенсионное обеспеч...",47.0,47.0,0.0
27,Легкая промышленность,18.0,18.0,0.0
28,"Маркетинг, реклама, PR",15.0,15.0,0.0
29,Домашний персонал,12.0,12.0,0.0
30,"Кадровая служба, управление персоналом",11.0,11.0,0.0
31,"Спорт, фитнес, салоны красоты",8.0,8.0,0.0
32,Высший менеджмент,4.0,4.0,0.0
33,Итого,11154.0,11154.0,0.0
34,"Химическая, нефтехимическая, топливная промышл...",0.0,2.0,2.0