In [515]:
"""
Скрипт для сравнения двух файлов свода данных 
"""

'\nСкрипт для сравнения двух файлов свода данных \n'

In [516]:
import pandas as pd
import numpy as np
import openpyxl

In [517]:
def sum_category(row:pd.Series,user_sep:str):
    """
    Суммирование колонок для ID
    """
    out_id = f'{user_sep}'.join(row.tolist()) # создаем выходную строку

    return out_id

In [519]:
first_file = 'data/Аналитика по вакансиям региона/15_03_2024/Свод по региону Бурятия от 14 марта.xlsx'
second_file = 'data/Аналитика по вакансиям региона/16_03_2024/Свод по региону Бурятия от 16 марта.xlsx'

In [ ]:
# Список обязательных колонок 
lst_svod_sheets = ['Вакансии по отраслям','Вакансии по работодателям','Зарплата по отраслям','Зарплата по работодателям',
                   'Образование по отраслям','Образование по работодателям','График работы по отраслям','График работы по работодателям',
                   'Тип занятости по отраслям','Тип занятости по работодателям','Квоты по отраслям','Квоты по работодателям',
                   'Требуемый опыт по отраслям','Требуемый опыт по работодателям']

In [520]:
first_df = pd.read_excel(first_file,sheet_name='Образование по отраслям') # первый файл для сравнения
second_df = pd.read_excel(second_file,sheet_name='Образование по отраслям') # второй файл для сравнения

In [522]:
lst_not_standard_sheets = ['Зарплата по отраслям','Зарплата по работодателям'] # список листов без колонки Количество вакансий

In [523]:
first_df.head()

,Сфера деятельности,Образование,Количество вакансий
0,"Административная работа, секретариат, АХО",Высшее,49
1,"Административная работа, секретариат, АХО",Среднее,10
2,"Административная работа, секретариат, АХО",Среднее профессиональное,20
3,"Банки, кредит, страхование, пенсионное обеспеч...",Высшее,11
4,"Банки, кредит, страхование, пенсионное обеспеч...",Не указано,16

In [524]:
second_df.head()

,Сфера деятельности,Образование,Количество вакансий
0,"Административная работа, секретариат, АХО",Высшее,90
1,"Административная работа, секретариат, АХО",Не указано,71
2,"Административная работа, секретариат, АХО",Среднее,10
3,"Административная работа, секретариат, АХО",Среднее профессиональное,5
4,"Банки, кредит, страхование, пенсионное обеспеч...",Высшее,11

In [525]:
first_key_columns = list(first_df.columns)
first_key_columns.remove('Количество вакансий')

second_key_columns = list(second_df.columns)
second_key_columns.remove('Количество вакансий')

In [526]:
first_key_columns

['Сфера деятельности', 'Образование']

In [527]:
# Делаем колонки на основе котороых будут создаваться ID строковыми
first_df[first_key_columns] = first_df[first_key_columns].astype(str)
second_df[second_key_columns] = second_df[second_key_columns].astype(str)

In [528]:
# Создаем колонки по которой будет вестись объединение
first_df['ID'] = first_df[first_key_columns].apply(lambda x:sum_category(x,'-'),axis=1)
second_df['ID'] = second_df[second_key_columns].apply(lambda x:sum_category(x,'-'),axis=1)

In [529]:
first_df

,Сфера деятельности,Образование,Количество вакансий,ID
0,"Административная работа, секретариат, АХО",Высшее,49,"Административная работа, секретариат, АХО-Высшее"
1,"Административная работа, секретариат, АХО",Среднее,10,"Административная работа, секретариат, АХО-Среднее"
2,"Административная работа, секретариат, АХО",Среднее профессиональное,20,"Административная работа, секретариат, АХО-Сред..."
3,"Банки, кредит, страхование, пенсионное обеспеч...",Высшее,11,"Банки, кредит, страхование, пенсионное обеспеч..."
4,"Банки, кредит, страхование, пенсионное обеспеч...",Не указано,16,"Банки, кредит, страхование, пенсионное обеспеч..."
...,...,...,...,...
144,Юриспруденция,Высшее,53,Юриспруденция-Высшее
145,Юриспруденция,Не указано,36,Юриспруденция-Не указано
146,Юриспруденция,Основное общее,1,Юриспруденция-Основное общее
147,Юриспруденция,Среднее,70,Юриспруденция-Среднее
148,Юриспруденция,Среднее профессиональное,43,Юриспруденция-Среднее профессиональное

In [530]:
second_df.head()

,Сфера деятельности,Образование,Количество вакансий,ID
0,"Административная работа, секретариат, АХО",Высшее,90,"Административная работа, секретариат, АХО-Высшее"
1,"Административная работа, секретариат, АХО",Не указано,71,"Административная работа, секретариат, АХО-Не у..."
2,"Административная работа, секретариат, АХО",Среднее,10,"Административная работа, секретариат, АХО-Среднее"
3,"Административная работа, секретариат, АХО",Среднее профессиональное,5,"Административная работа, секретариат, АХО-Сред..."
4,"Банки, кредит, страхование, пенсионное обеспеч...",Высшее,11,"Банки, кредит, страхование, пенсионное обеспеч..."

In [531]:
merge_df = first_df.merge(second_df,how='outer',left_on=['ID'],right_on=['ID'],indicator=True)

In [533]:
# удаляем лишние колонки
del_columns = [column for column in merge_df.columns if ('вакансий' not in column) & ('ID' not in column)]

In [535]:
merge_df.drop(columns=del_columns,inplace=True)

In [536]:
merge_df=merge_df.reindex(columns=['ID','Количество вакансий_x','Количество вакансий_y']) # меняем местами
merge_df.columns = ['Показатель','Первая таблица','Вторая таблица']

In [537]:
merge_df.fillna(0,inplace=True)

In [538]:
merge_df[['Первая таблица','Вторая таблица']] = merge_df[['Первая таблица','Вторая таблица']].astype(float,errors='ignore')

In [539]:
merge_df['Разница'] = merge_df['Вторая таблица'] - merge_df['Первая таблица']
merge_df['Абсолютная разница'] = abs(merge_df['Вторая таблица'] - merge_df['Первая таблица'])
merge_df['Изменение в %'] = round(((merge_df['Вторая таблица'] - merge_df['Первая таблица']) / merge_df['Первая таблица']) * 100,2)

In [540]:

merge_df['Отношение второй таблицы к первой %'] = round((merge_df['Вторая таблица']/ merge_df['Первая таблица'])*100,2)

In [541]:
merge_df

,Показатель,Первая таблица,Вторая таблица,Разница,Абсолютная разница,Изменение в %,Отношение второй таблицы к первой %
0,"Административная работа, секретариат, АХО-Высшее",49.0,90.0,41.0,41.0,83.67,183.67
1,"Административная работа, секретариат, АХО-Среднее",10.0,10.0,0.0,0.0,0.00,100.00
2,"Административная работа, секретариат, АХО-Сред...",20.0,5.0,-15.0,15.0,-75.00,25.00
3,"Банки, кредит, страхование, пенсионное обеспеч...",11.0,11.0,0.0,0.0,0.00,100.00
4,"Банки, кредит, страхование, пенсионное обеспеч...",16.0,16.0,0.0,0.0,0.00,100.00
...,...,...,...,...,...,...,...
145,Юриспруденция-Не указано,36.0,36.0,0.0,0.0,0.00,100.00
146,Юриспруденция-Основное общее,1.0,1.0,0.0,0.0,0.00,100.00
147,Юриспруденция-Среднее,70.0,70.0,0.0,0.0,0.00,100.00
148,Юриспруденция-Среднее профессиональное,43.0,43.0,0.0,0.0,0.00,100.00
149,"Административная работа, секретариат, АХО-Не у...",0.0,71.0,71.0,71.0,inf,inf

In [542]:
merge_df.sort_values(by='Показатель',inplace=True)# Сортируем по показателю

In [543]:
merge_df

,Показатель,Первая таблица,Вторая таблица,Разница,Абсолютная разница,Изменение в %,Отношение второй таблицы к первой %
0,"Административная работа, секретариат, АХО-Высшее",49.0,90.0,41.0,41.0,83.67,183.67
149,"Административная работа, секретариат, АХО-Не у...",0.0,71.0,71.0,71.0,inf,inf
1,"Административная работа, секретариат, АХО-Среднее",10.0,10.0,0.0,0.0,0.00,100.00
2,"Административная работа, секретариат, АХО-Сред...",20.0,5.0,-15.0,15.0,-75.00,25.00
3,"Банки, кредит, страхование, пенсионное обеспеч...",11.0,11.0,0.0,0.0,0.00,100.00
...,...,...,...,...,...,...,...
144,Юриспруденция-Высшее,53.0,53.0,0.0,0.0,0.00,100.00
145,Юриспруденция-Не указано,36.0,36.0,0.0,0.0,0.00,100.00
146,Юриспруденция-Основное общее,1.0,1.0,0.0,0.0,0.00,100.00
147,Юриспруденция-Среднее,70.0,70.0,0.0,0.0,0.00,100.00
148,Юриспруденция-Среднее профессиональное,43.0,43.0,0.0,0.0,0.00,100.00

In [544]:
merge_df.to_excel('data/dfgdgf.xlsx',index=False)