In [62]:
"""
Скрипт для сравнения двух файлов свода данных 
"""

'\nСкрипт для сравнения двух файлов свода данных \n'

In [63]:
import pandas as pd
import numpy as np
import openpyxl

In [64]:
def sum_category(row:pd.Series,user_sep:str):
    """
    Суммирование колонок для ID
    """
    out_id = f'{user_sep}'.join(row.tolist()) # создаем выходную строку

    return out_id

In [65]:
def split_cell(cell:str,user_sep:str,number_split:int):
    """
    Функция для извлечения части строки
    """
    lst_cell = str(cell).split(user_sep) # получаем список
    if len(lst_cell) >=number_split+1:
        out_value = lst_cell[number_split].strip()
        return out_value
    else:
        return cell

In [66]:
first_file = 'data/Красноярский край/Аналитика по вакансиям выбранных работодателей/25_03_2024/Свод по выбранным работодателям от 15_09_09.xlsx'
second_file = 'data/Красноярский край/25.05/Аналитика по вакансиям выбранных работодателей/25_03_2024/Свод по выбранным работодателям от 15_11_13.xlsx'

In [67]:
# Список обязательных колонок 
lst_svod_sheets = ['Вакансии по отраслям','Вакансии по работодателям','Зарплата по отраслям','Зарплата по работодателям',
                   'Образование по отраслям','Образование по работодателям','График работы по отраслям','График работы по работодателям',
                   'Тип занятости по отраслям','Тип занятости по работодателям','Квоты по отраслям','Квоты по работодателям',
                   'Требуемый опыт по отраслям','Требуемый опыт по работодателям']

In [68]:
first_df = pd.read_excel(first_file,sheet_name='Вакансии для динамики') # первый файл для сравнения
second_df = pd.read_excel(second_file,sheet_name='Вакансии для динамики') # второй файл для сравнения

In [69]:
lst_not_standard_sheets = ['Зарплата по отраслям','Зарплата по работодателям'] # список листов без колонки Количество вакансий

In [70]:
first_df.head()

,Полное название работодателя,Вакансия,Количество вакансий
0,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",Начальник отдела (специализированного в прочих...,1
1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...","Руководитель проекта по направлению (генплан, ...",4
2,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",Электромонтер по ремонту и обслуживанию элект...,2
3,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""",Аппаратчик восстановления полупроводниковых ма...,1
4,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""",Инженер по метрологии,1

In [71]:
second_df.head()

,Полное название работодателя,Вакансия,Количество вакансий
0,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",Начальник отдела (специализированного в прочих...,1
1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...","Руководитель проекта по направлению (генплан, ...",4
2,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",Электромонтер по ремонту и обслуживанию элект...,2
3,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""",Аппаратчик восстановления полупроводниковых ма...,1
4,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""",Инженер по метрологии,1

In [72]:
first_key_columns = list(first_df.columns)
first_key_columns.remove('Количество вакансий')

second_key_columns = list(second_df.columns)
second_key_columns.remove('Количество вакансий')

In [73]:
first_key_columns

['Полное название работодателя', 'Вакансия']

In [74]:
# Делаем колонки на основе котороых будут создаваться ID строковыми
first_df[first_key_columns] = first_df[first_key_columns].astype(str)
second_df[second_key_columns] = second_df[second_key_columns].astype(str)

In [75]:
# Создаем колонки по которой будет вестись объединение
first_df['ID'] = first_df[first_key_columns].apply(lambda x:sum_category(x,'-'),axis=1)
second_df['ID'] = second_df[second_key_columns].apply(lambda x:sum_category(x,'-'),axis=1)

In [76]:
first_df

,Полное название работодателя,Вакансия,Количество вакансий,ID
0,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",Начальник отдела (специализированного в прочих...,1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ..."
1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...","Руководитель проекта по направлению (генплан, ...",4,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ..."
2,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",Электромонтер по ремонту и обслуживанию элект...,2,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ..."
3,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""",Аппаратчик восстановления полупроводниковых ма...,1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""-Аппаратчик вос..."
4,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""",Инженер по метрологии,1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""-Инженер по мет..."
...,...,...,...,...
994,ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ УНИТАРНОЕ ПРЕДПРИЯ...,Юрисконсульт,1,ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ УНИТАРНОЕ ПРЕДПРИЯ...
995,ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ УНИТАРНОЕ ПРЕДПРИЯ...,инженер-технолог (химик),14,ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ УНИТАРНОЕ ПРЕДПРИЯ...
996,ЦЕНТР ПРОФИЛАКТИКИ ЗАБОЛЕВАНИЙ И РЕАБИЛИТАЦИИ,Горничная,2,ЦЕНТР ПРОФИЛАКТИКИ ЗАБОЛЕВАНИЙ И РЕАБИЛИТАЦИИ-...
997,ЦЕНТР ПРОФИЛАКТИКИ ЗАБОЛЕВАНИЙ И РЕАБИЛИТАЦИИ,грузчик,2,ЦЕНТР ПРОФИЛАКТИКИ ЗАБОЛЕВАНИЙ И РЕАБИЛИТАЦИИ-...
998,ЦЕНТР ПРОФИЛАКТИКИ ЗАБОЛЕВАНИЙ И РЕАБИЛИТАЦИИ,уборщик производственных и служебных помещений,1,ЦЕНТР ПРОФИЛАКТИКИ ЗАБОЛЕВАНИЙ И РЕАБИЛИТАЦИИ-...

In [77]:
second_df.head()

,Полное название работодателя,Вакансия,Количество вакансий,ID
0,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",Начальник отдела (специализированного в прочих...,1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ..."
1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...","Руководитель проекта по направлению (генплан, ...",4,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ..."
2,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",Электромонтер по ремонту и обслуживанию элект...,2,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ..."
3,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""",Аппаратчик восстановления полупроводниковых ма...,1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""-Аппаратчик вос..."
4,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""",Инженер по метрологии,1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""-Инженер по мет..."

In [78]:
merge_df = first_df.merge(second_df,how='outer',left_on=['ID'],right_on=['ID'],indicator=True)

In [79]:
# удаляем лишние колонки
del_columns = [column for column in merge_df.columns if ('вакансий' not in column) & ('ID' not in column)]

In [80]:
merge_df.drop(columns=del_columns,inplace=True)

In [81]:
merge_df=merge_df.reindex(columns=['ID','Количество вакансий_x','Количество вакансий_y']) # меняем местами
merge_df.columns = ['Показатель','Первая таблица','Вторая таблица']

In [82]:
merge_df.fillna(0,inplace=True)

In [83]:
merge_df[['Первая таблица','Вторая таблица']] = merge_df[['Первая таблица','Вторая таблица']].astype(float,errors='ignore')

In [84]:
merge_df['Разница'] = merge_df['Вторая таблица'] - merge_df['Первая таблица']
merge_df['Абсолютная разница'] = abs(merge_df['Вторая таблица'] - merge_df['Первая таблица'])
merge_df['Изменение в %'] = round(((merge_df['Вторая таблица'] - merge_df['Первая таблица']) / merge_df['Первая таблица']) * 100,2)

In [85]:

merge_df['Отношение второй таблицы к первой %'] = round((merge_df['Вторая таблица']/ merge_df['Первая таблица'])*100,2)

In [86]:
merge_df

,Показатель,Первая таблица,Вторая таблица,Разница,Абсолютная разница,Изменение в %,Отношение второй таблицы к первой %
0,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",1.0,1.0,0.0,0.0,0.0,100.0
1,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",4.0,4.0,0.0,0.0,0.0,100.0
2,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...",2.0,2.0,0.0,0.0,0.0,100.0
3,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""-Аппаратчик вос...",1.0,1.0,0.0,0.0,0.0,100.0
4,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ГЕРМАНИЙ""-Инженер по мет...",1.0,1.0,0.0,0.0,0.0,100.0
...,...,...,...,...,...,...,...
1011,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""РУСАЛ КРАСНОЯРСКИЙ АЛЮМИ...",0.0,1.0,1.0,1.0,inf,inf
1012,"АКЦИОНЕРНОЕ ОБЩЕСТВО ""ЦЕНТРАЛЬНОЕ КОНСТРУКТОРС...",0.0,1.0,1.0,1.0,inf,inf
1013,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЛИТЕ...",0.0,1.0,1.0,1.0,inf,inf
1014,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЛИТЕ...",0.0,1.0,1.0,1.0,inf,inf
1015,"ФЕДЕРАЛЬНОЕ БЮДЖЕТНОЕ УЧРЕЖДЕНИЕ ""ГОСУДАРСТВЕН...",0.0,1.0,1.0,1.0,inf,inf

In [87]:
merge_df.sort_values(by='Показатель',inplace=True)# Сортируем по показателю

In [88]:
merge_df['Показатель']

0      АКЦИОНЕРНОЕ ОБЩЕСТВО "БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...
1      АКЦИОНЕРНОЕ ОБЩЕСТВО "БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...
2      АКЦИОНЕРНОЕ ОБЩЕСТВО "БОГУЧАНСКИЙ АЛЮМИНИЕВЫЙ ...
3      АКЦИОНЕРНОЕ ОБЩЕСТВО "ГЕРМАНИЙ"-Аппаратчик вос...
4      АКЦИОНЕРНОЕ ОБЩЕСТВО "ГЕРМАНИЙ"-Инженер по мет...
                             ...
994    ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ УНИТАРНОЕ ПРЕДПРИЯ...
995    ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ УНИТАРНОЕ ПРЕДПРИЯ...
996    ЦЕНТР ПРОФИЛАКТИКИ ЗАБОЛЕВАНИЙ И РЕАБИЛИТАЦИИ-...
997    ЦЕНТР ПРОФИЛАКТИКИ ЗАБОЛЕВАНИЙ И РЕАБИЛИТАЦИИ-...
998    ЦЕНТР ПРОФИЛАКТИКИ ЗАБОЛЕВАНИЙ И РЕАБИЛИТАЦИИ-...
Name: Показатель, Length: 1016, dtype: object

In [89]:
merge_df['_Работодатель'] = merge_df['Показатель'].apply(lambda x:split_cell(x,'-',0))
merge_df['_Вакансия'] = merge_df['Показатель'].apply(lambda x:split_cell(x,'-',1))

In [91]:
merge_df.insert(0,'Работодатель',merge_df['_Работодатель'])
merge_df.insert(1,'Вакансия',merge_df['_Вакансия'])

In [93]:
merge_df.drop(columns=['Показатель','_Работодатель','_Вакансия'],inplace=True)

In [94]:
merge_df.to_excel('data/dfgdgf.xlsx',index=False)