In [443]:
import pandas as pd
import numpy as np
import tkinter
import sys
import os
from tkinter import *
from tkinter import filedialog
from tkinter import messagebox
from tkinter import ttk
import time
# pd.options.mode.chained_assignment = None  # default='warn'
import warnings
warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')
warnings.filterwarnings('ignore', category=DeprecationWarning)
warnings.filterwarnings('ignore', category=FutureWarning)
import copy
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
import re
import random

In [444]:
path_folder_data = 'data/ОПК трудоустройство'

In [445]:
# создаем словарь верхнего уровня для каждого поо
high_level_dct = {}
# создаем датафрейм для регистрации ошибок
error_df = pd.DataFrame(columns=['Название файла', 'Строка или колонка с ошибкой', 'Описание ошибки', ])

In [446]:
for file in os.listdir(path_folder_data):
    if not file.startswith('~$') and file.endswith('.xlsx'):
        name_file = file.split('.xlsx')[0]
        print(name_file)
        df_form1 = pd.read_excel(f'{path_folder_data}/{file}', skiprows=8, dtype=str)
        # создаем множество колонок наличие которых мы проверяем
        check_cols = {'01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17',
                      '18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36',
                     '37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55',
                     '56','57','58','59','60','61','62','63','64','65','66','67','68','69','70','71','72','73','74',
                     '75','76','77','78','79','80'}
        if not check_cols.issubset(set(df_form1.columns)):
            temp_error_df = pd.DataFrame(data=[[f'{name_file}', '',
                                                'Проверьте заголовок таблицы в файле.Строка с номерами колонок (01,02,03 и т.д. как в исходной форме)\n должна находиться на 5 строке! ДАННЫЕ ФАЙЛА НЕ ОБРАБОТАНЫ !!! ']],
                                         columns=['Название файла', 'Строка или колонка с ошибкой',
                                                  'Описание ошибки'])
            error_df = pd.concat([error_df, temp_error_df], axis=0, ignore_index=True)
            continue

Мониторинг_трудоустройства_выпускников_форма

In [447]:
error_df.shape

(0, 3)

In [448]:
df_form1 = df_form1[df_form1['04'] != '03'] # фильтруем строки с проверкой

In [449]:
df_form1 = df_form1.loc[:,'01':'78'] # отсекаем возможную первую колонку и колонки с примечаниями

In [450]:
df_form1.shape

(32, 78)

In [451]:
df_form1.tail()

,01,02,03,04,05,06,07,08,09,10,...,69,70,71,72,73,74,75,76,77,78
40,Дальневосточный федеральный округ,Республика Бурятия,"08.02.09 Монтаж, наладка и эксплуатация электр...",02,из строки 01: имеют договор о целевом обучении,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Дальневосточный федеральный округ,Республика Бурятия,23.02.03 Техническое обслуживание и ремонт авт...,01,Всего (общая численность выпускников),15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Дальневосточный федеральный округ,Республика Бурятия,23.02.03 Техническое обслуживание и ремонт авт...,02,из строки 01: имеют договор о целевом обучении,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Дальневосточный федеральный округ,Республика Бурятия,"43.01.09 Повар, кондитер",01,Всего (общая численность выпускников),9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Дальневосточный федеральный округ,Республика Бурятия,"43.01.09 Повар, кондитер",02,из строки 01: имеют договор о целевом обучении,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [452]:
# получаем  часть с данными
# Находим индекс первой пустой строки, если он есть,получаем список с значениями где есть пустые строки
empty_row_index = np.where(df_form1.isna().all(axis=1))
if empty_row_index[0].tolist():
    row_index = empty_row_index[0][0]
    df_form1 = df_form1.iloc[:row_index]

In [457]:
df_form1.shape

(32, 78)