In [648]:
"""
Скрипт для обработки общйе таблицы Омского ЦОПП. 
"""

'\nСкрипт для обработки общйе таблицы Омского ЦОПП. \n'

In [649]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import tkinter
import sys
import os
from tkinter import *
from tkinter import filedialog
from tkinter import messagebox
from tkinter import ttk
import time

pd.options.mode.chained_assignment = None  # default='warn'
import warnings

warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')
warnings.filterwarnings('ignore', category=DeprecationWarning)
warnings.filterwarnings('ignore', category=FutureWarning)
import copy
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
import re
import random

In [650]:
def check_data(cell):
    """
    Метод для проверки значения ячейки
    :param cell: значение ячейки
    :return: число в формате int
    """
    if cell is np.nan:
        return 0
    if cell.isdigit():
        return int(cell)
    else:
        return 0

In [651]:
def check_sameness_range(df:pd.DataFrame,names_columns:list,border,amendment):
    
    """    
    Функция для проверки единнобразия значений в колонке по диапазонам
    """
    # получаем поправки для того чтобы диапазон ошибки указывался корректно
    first_correct = amendment[0]
    second_correct = amendment[1] 
    _error_df = pd.DataFrame(columns=['Строка или колонка с ошибкой', 'Описание ошибки']) # датафрейм для ошибок
    for column in names_columns:
        _temp_set = set(df[column].tolist())
        if len(_temp_set) != 1:
            temp_error_df = pd.DataFrame(data=[[f'Диапазон строк {border + first_correct} - {border+second_correct},Колонка {column}',
                                        'В указанном диапазоне и колонке  должны быть одинаковые значения во избежание ошибок при подсчете,если указан диапазон вне таблицы то удалите строки этого диапазона']],
                                 columns=['Строка или колонка с ошибкой',
                                          'Описание ошибки'])
            _error_df = pd.concat([error_df, temp_error_df], axis=0, ignore_index=True)
    return _error_df

In [652]:
def check_error_omsk(df:pd.DataFrame,border,amendment):
    """
    Функция для проверки на ошибки
    """

    error_df = pd.DataFrame(columns=['Строка или колонка с ошибкой', 'Описание ошибки']) # датафрейм для ошибок
    quantity_range = df.shape[0] // 5 #  получаем количество проходов которые нужно пройти
    sameness_columns = ['1','2','3'] # список колонок которые нужно проверить на единообразие внутри диапазона
    for i in range(quantity_range):
        temp_df = df.iloc[border:border+5,:]
        error_sameness_df = check_sameness_range(temp_df.copy(),sameness_columns,border,amendment) # проверка на единообразие
        error_df = pd.concat([error_df, error_sameness_df], axis=0, ignore_index=True)       
              
        
        
        
        border += 5
        
        
        
    
    
    
    
    
    return error_df

In [653]:
path_data_omsk = 'data/Омск/Трудоустройство_1_07_2023_выпуск_2022.xlsx'
path_to_end_folder = 'data'
# создаем датафрейм для регистрации ошибок
error_df = pd.DataFrame(columns=['Строка или колонка с ошибкой', 'Описание ошибки'])

In [654]:
# загружаем файл
df = pd.read_excel(f'{path_data_omsk}',dtype=str,skiprows=5)

In [655]:
df=df.iloc[:,:34] # убираем строки проверки

In [656]:

# заменяем названия колонок
df.columns = list(map(str,range(1,df.shape[1]+1)))

In [657]:
df.shape

(2030, 34)

In [658]:
# Проверяем на количество строк, должно быть кратно 5
if df.shape[0] % 5 !=0:
    temp_error_df = pd.DataFrame(data=[['',
                                        'Количество строк не кратно 5 !!! Возможно пропущены строки с данными или есть лишние строки в конце таблицы']],
                                 columns=['Строка или колонка с ошибкой',
                                          'Описание ошибки'])
    error_df = pd.concat([error_df, temp_error_df], axis=0, ignore_index=True)

In [659]:
# Проверяем ошибки
tup_correct = (7, 11)  # создаем кортеж  с поправками
check_error_df= check_error_omsk(df.copy(),0,tup_correct)
error_df = pd.concat([error_df, check_error_df], axis=0, ignore_index=True)

In [660]:
df.head(1)

,1,2,3,4,5,6,7,8,9,10,...,25,26,27,28,29,30,31,32,33,34
0,"БПОУ ""Седельниковский агропромышленный техникум""",23.01.03,Автомеханик,01,Всего,22,5,1,"1 чел -ПАО ""ОПК-Сатурн"" ОМКБ",4,...,0,0,0,1,0,0,0,0,0,Опрос-6 чел

In [661]:
text_df = df[['2','3','4','5','9','34']]

In [662]:
text_df

,2,3,4,5,9,34
0,23.01.03,Автомеханик,01,Всего,"1 чел -ПАО ""ОПК-Сатурн"" ОМКБ",Опрос-6 чел
1,23.01.03,Автомеханик,02,Лица с ограниченными возможностями здоровья,NaN,NaN
2,23.01.03,Автомеханик,03,из них (из строки 02): инвалиды и дети-инвалиды,NaN,NaN
3,23.01.03,Автомеханик,04,Инвалиды и дети-инвалиды (кроме учтенных в стр...,NaN,NaN
4,23.01.03,Автомеханик,05,Имеют договор о целевом обучении,NaN,NaN
...,...,...,...,...,...,...
2025,49.02.01,Физическая культура,01,Всего,NaN,NaN
2026,49.02.01,Физическая культура,02,Лица с ограниченными возможностями здоровья,NaN,NaN
2027,49.02.01,Физическая культура,03,из них (из строки 02): инвалиды и дети-инвалиды,NaN,NaN
2028,49.02.01,Физическая культура,04,Инвалиды и дети-инвалиды (кроме учтенных в стр...,NaN,NaN
2029,49.02.01,Физическая культура,05,Имеют договор о целевом обучении,NaN,NaN

In [663]:
df.drop(columns=['1','9','34'],inplace=True) #Удаляем лишние колонки мешающие группировке

In [664]:
columns_to_apply = ['6','7','8','10','11','12','13','14','15','16','17','18','19','20','21','22','23'
                    ,'24','25','26','27','28','29','30','31','32','33']

In [665]:
df[columns_to_apply] = df[columns_to_apply].applymap(check_data)

In [666]:
df

,2,3,4,5,6,7,8,10,11,12,...,24,25,26,27,28,29,30,31,32,33
0,23.01.03,Автомеханик,01,Всего,22,5,1,4,2,0,...,0,0,0,0,1,0,0,0,0,0
1,23.01.03,Автомеханик,02,Лица с ограниченными возможностями здоровья,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,23.01.03,Автомеханик,03,из них (из строки 02): инвалиды и дети-инвалиды,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23.01.03,Автомеханик,04,Инвалиды и дети-инвалиды (кроме учтенных в стр...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23.01.03,Автомеханик,05,Имеют договор о целевом обучении,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025,49.02.01,Физическая культура,01,Всего,29,3,0,2,2,4,...,0,0,0,0,0,0,0,0,0,0
2026,49.02.01,Физическая культура,02,Лица с ограниченными возможностями здоровья,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2027,49.02.01,Физическая культура,03,из них (из строки 02): инвалиды и дети-инвалиды,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2028,49.02.01,Физическая культура,04,Инвалиды и дети-инвалиды (кроме учтенных в стр...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2029,49.02.01,Физическая культура,05,Имеют договор о целевом обучении,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [667]:
df.groupby(['2','3','4','5']).agg(sum) # проводим группировку
df = df.reset_index() # извлекаем мультииндекс
df.drop(columns='index',inplace=True)

In [668]:
df

,2,3,4,5,6,7,8,10,11,12,...,24,25,26,27,28,29,30,31,32,33
0,23.01.03,Автомеханик,01,Всего,22,5,1,4,2,0,...,0,0,0,0,1,0,0,0,0,0
1,23.01.03,Автомеханик,02,Лица с ограниченными возможностями здоровья,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,23.01.03,Автомеханик,03,из них (из строки 02): инвалиды и дети-инвалиды,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23.01.03,Автомеханик,04,Инвалиды и дети-инвалиды (кроме учтенных в стр...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23.01.03,Автомеханик,05,Имеют договор о целевом обучении,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025,49.02.01,Физическая культура,01,Всего,29,3,0,2,2,4,...,0,0,0,0,0,0,0,0,0,0
2026,49.02.01,Физическая культура,02,Лица с ограниченными возможностями здоровья,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2027,49.02.01,Физическая культура,03,из них (из строки 02): инвалиды и дети-инвалиды,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2028,49.02.01,Физическая культура,04,Инвалиды и дети-инвалиды (кроме учтенных в стр...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2029,49.02.01,Физическая культура,05,Имеют договор о целевом обучении,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [669]:
error_df

Empty DataFrame
Columns: [Строка или колонка с ошибкой, Описание ошибки]
Index: []