In [59]:
"""
Скрипт для обработки данных  с портала трудвсем для БЦК
"""

'\nСкрипт для обработки данных  с портала трудвсем для БЦК\n'

In [88]:
import pandas as pd
import numpy as np
import openpyxl
import json

In [86]:
def extract_data_from_dict_cell(cell,key:str):
    """
    Функция для извлечения данных из словаря в ячейке датафрейма
    """
    d = ast.literal_eval(cell)
    print(type(d))
    if type(cell) == dict:
        return cell.get(key)
    else:
        return None

In [61]:
region = 'Республика Бурятия'

In [62]:
# колонки которые нужно оставить и переименовать
dct_name_columns = {'busy_type':'Тип занятости','contact_person':'Контактное лицо','date_create':'Дата размещения вакансии',
                    'date_modify':'Дата изменения вакансии','education':'Требуемое образование','is_quoted':'Квотируемое место',
                   'other_vacancy_benefit':'Дополнительные бонусы','position_requirements':'Требования',
                    'position_responsibilities':'Обязанности','regionName':'Регион','required_experience':'Требуемый опыт работы в годах',
                    'retraining_capability':'Возможность переподготовки','required_certificates':'Требуемые доп. документы',
                   'required_drive_license':'Требуемые водительские права','retraining_grant':'Стипендия',
                    'retraining_grant_value':'Размер стипендии','salary':'Зарплата','salary_min':'Минимальная зарплата','salary_max':'Максимальная зарплата',
                    'schedule_type':'График работы','social_protected_ids':'Социально защищенная категория',
                   'source_type':'Источник вакансии','status':'Статус проверки вакансии','transport_compensation':'Компенсация транспорт',
                    'vacancy_address_additional_info':'Доп информация по адресу вакансии','vacancy_address':'Адрес вакансии',
                    'vacancy_address_latitude':'Долгота адрес вакансии','vacancy_address_longitude':'Широта адрес вакансии',
                   'vacancy_benefit_ids':'Бонусы','vacancy_name':'Вакансия','work_places':'Количество рабочих мест','professionalSphereName':'Сфера деятельности',
                    'full_company_name':'Полное название работодателя','company_inn':'ИНН работодателя','company':'Данные компании',
                    'languageKnowledge':'Знание языков','hardSkills':'Хардскиллы','softSkills':'Софтскиллы'}

In [63]:
df = pd.read_csv('data/vacancy.csv',encoding='UTF-8',sep='|',dtype=str)

In [64]:
company_df = pd.read_excel('data/company.xlsx',dtype=str)

In [65]:
company_df

  Краткое название организации         ИНН
0                         УУАЗ  0323018510
1                     Приборка  0323053578

In [66]:
df.shape

(92697, 78)

In [67]:
df = df[df['regionName'] == region]

In [68]:
df.shape

(4116, 78)

In [69]:
df['company_inn']

78       2725026521
212      7708709686
258      0319103000
292      2460069527
304      7714731464
            ...
92524    0326024141
92527    0323363770
92531    2460069527
92652    7810729228
92658    7810729228
Name: company_inn, Length: 4116, dtype: object

In [70]:
dct_df = dict() # словарь для хранения данных для каждого инн
used_name_sheet = set() # множество для хранения использованных названий листов

In [98]:
# Собираем датафреймы по ИНН
for idx,row in enumerate(company_df.itertuples()):
    name_company = row[1] # название компании
    inn_company = row[2] # инн компании
    temp_df = df[df['company_inn'] ==inn_company] # фильтруем по инн
    temp_df = temp_df[dct_name_columns.keys()]
    temp_df.rename(columns=dct_name_columns,inplace=True)
    temp_df.to_excel(f'data/{name_company}.xlsx',index=False)
    temp_df['Email работодателя'] = temp_df['Данные компании'].apply(lambda x: json.loads(x).get('email','Не найден ключ'))

In [99]:
temp_df['Email работодателя']

27802    oaouuppo_70@mail.ru
28737    oaouuppo_70@mail.ru
28924    oaouuppo_70@mail.ru
28990    oaouuppo_70@mail.ru
31075    oaouuppo_70@mail.ru
31272    oaouuppo_70@mail.ru
31382    oaouuppo_70@mail.ru
31391    oaouuppo_70@mail.ru
31579    oaouuppo_70@mail.ru
31820    oaouuppo_70@mail.ru
31849    oaouuppo_70@mail.ru
32075    oaouuppo_70@mail.ru
32151    oaouuppo_70@mail.ru
32309    oaouuppo_70@mail.ru
32572    oaouuppo_70@mail.ru
32687    oaouuppo_70@mail.ru
32799    oaouuppo_70@mail.ru
32901    oaouuppo_70@mail.ru
32954    oaouuppo_70@mail.ru
33756    oaouuppo_70@mail.ru
33797    oaouuppo_70@mail.ru
34242    oaouuppo_70@mail.ru
34416    oaouuppo_70@mail.ru
34615    oaouuppo_70@mail.ru
34658    oaouuppo_70@mail.ru
34768    oaouuppo_70@mail.ru
34805    oaouuppo_70@mail.ru
34812    oaouuppo_70@mail.ru
34826    oaouuppo_70@mail.ru
34943    oaouuppo_70@mail.ru
34944    oaouuppo_70@mail.ru
34952    oaouuppo_70@mail.ru
35028    oaouuppo_70@mail.ru
35044    oaouuppo_70@mail.ru
35111    oaouuppo_70@mail.ru
35153    oaouuppo_70@mail.ru
35228    oaouuppo_70@mail.ru
35315    oaouuppo_70@mail.ru
35471    oaouuppo_70@mail.ru
35536    oaouuppo_70@mail.ru
35852    oaouuppo_70@mail.ru
35970    oaouuppo_70@mail.ru
36017    oaouuppo_70@mail.ru
36107    oaouuppo_70@mail.ru
36145    oaouuppo_70@mail.ru
36179    oaouuppo_70@mail.ru
36577    oaouuppo_70@mail.ru
36751    oaouuppo_70@mail.ru
38157    oaouuppo_70@mail.ru
42987    oaouuppo_70@mail.ru
Name: Email работодателя, dtype: object

In [72]:
print('Lindy Booth!')

Lindy Booth!