In [127]:
"""
Скрипт для обработки данных  с портала трудвсем для БЦК
"""

'\nСкрипт для обработки данных  с портала трудвсем для БЦК\n'

In [128]:
import pandas as pd
import numpy as np
import openpyxl
import json

In [145]:
def extract_data_from_list_cell(cell:str,lst_need_keys:list):
    """
    Функция для извлечения данных из словаря в ячейке датафрейма
    """
    try:
        if cell:            
            print(cell)
        

    except FileNotFoundError:
        return 'Не удалось обработать содержимое ячейки'

In [130]:
region = 'Республика Бурятия'

In [131]:
# колонки которые нужно оставить и переименовать
dct_name_columns = {'busy_type':'Тип занятости','contact_person':'Контактное лицо','date_create':'Дата размещения вакансии',
                    'date_modify':'Дата изменения вакансии','education':'Требуемое образование','is_quoted':'Квотируемое место',
                   'other_vacancy_benefit':'Дополнительные бонусы','position_requirements':'Требования',
                    'position_responsibilities':'Обязанности','regionName':'Регион','required_experience':'Требуемый опыт работы в годах',
                    'retraining_capability':'Возможность переподготовки','required_certificates':'Требуемые доп. документы',
                   'required_drive_license':'Требуемые водительские права','retraining_grant':'Стипендия',
                    'retraining_grant_value':'Размер стипендии','salary':'Зарплата','salary_min':'Минимальная зарплата','salary_max':'Максимальная зарплата',
                    'schedule_type':'График работы','social_protected_ids':'Социально защищенная категория',
                   'source_type':'Источник вакансии','status':'Статус проверки вакансии','transport_compensation':'Компенсация транспорт',
                    'vacancy_address_additional_info':'Доп информация по адресу вакансии','vacancy_address':'Адрес вакансии',
                    'vacancy_address_latitude':'Долгота адрес вакансии','vacancy_address_longitude':'Широта адрес вакансии',
                   'vacancy_benefit_ids':'Бонусы','vacancy_name':'Вакансия','work_places':'Количество рабочих мест','professionalSphereName':'Сфера деятельности',
                    'full_company_name':'Полное название работодателя','company_inn':'ИНН работодателя','company':'Данные компании',
                    'languageKnowledge':'Знание языков','hardSkills':'Хардскиллы','softSkills':'Софтскиллы'}

In [132]:
df = pd.read_csv('data/vacancy.csv',encoding='UTF-8',sep='|',dtype=str)

In [146]:
company_df = pd.read_excel('data/company.xlsx',dtype=str)

In [147]:
company_df

  Краткое название организации         ИНН
0                         УУАЗ  0323018510
1                     Приборка  0323053578
2                         Ника  7536165688

In [135]:
df.shape

(92697, 78)

In [136]:
#df = df[df['regionName'] == region]

In [137]:
df.shape

(4116, 78)

In [138]:
df['company_inn']

78       2725026521
212      7708709686
258      0319103000
292      2460069527
304      7714731464
            ...
92524    0326024141
92527    0323363770
92531    2460069527
92652    7810729228
92658    7810729228
Name: company_inn, Length: 4116, dtype: object

In [139]:
dct_df = dict() # словарь для хранения данных для каждого инн
used_name_sheet = set() # множество для хранения использованных названий листов

In [154]:
# Собираем датафреймы по ИНН
for idx,row in enumerate(company_df.itertuples()):
    name_company = row[1] # название компании
    inn_company = row[2] # инн компании
    temp_df = df[df['company_inn'] ==inn_company] # фильтруем по инн
    temp_df = temp_df[dct_name_columns.keys()]
    print(temp_df['languageKnowledge'].value_counts())
    temp_df.rename(columns=dct_name_columns,inplace=True)
    print(temp_df['Знание языков'].value_counts())
    # Начинаем извлекать данные из сложных колонок с json
    # данные по работодателю
    temp_df['КПП работодателя'] = temp_df['Данные компании'].apply(lambda x: json.loads(x).get('kpp','Не найден ключ'))
    temp_df['ОГРН работодателя'] = temp_df['Данные компании'].apply(lambda x: json.loads(x).get('ogrn','Не найден ключ'))
    temp_df['Контактный телефон работодателя'] = temp_df['Данные компании'].apply(lambda x: json.loads(x).get('phone','Не найден ключ'))
    temp_df['Email работодателя'] = temp_df['Данные компании'].apply(lambda x: json.loads(x).get('email','Не найден ключ'))
    temp_df['Профиль работодателя'] = temp_df['Данные компании'].apply(lambda x: json.loads(x).get('url','Не найден ключ'))
    
    # Обрабатываем колонку с языками
    temp_df['Ntc'] = temp_df['Знание языков'].apply(lambda x:extract_data_from_list_cell(x,['code_language','level']))
    
    
    
    
    
    
    
    temp_df.to_excel(f'data/{name_company}.xlsx',index=False)

[]    53
Name: languageKnowledge, dtype: int64
[]    53
Name: Знание языков, dtype: int64
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]    50
Name: languageKnowledge, dtype: int64
[]    50
Name: Знание языков, dtype: int64
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
Series([], Name: languageKnowledge, dtype: int64)
Series([], Name: Знание языков, dtype: int64)

In [150]:
temp_df['Знание языков'].value_counts()

Series([], Name: Знание языков, dtype: int64)

In [142]:
print('Lindy Booth!')

Lindy Booth!