In [ ]:
"""
Скрипт для подсчета общих данных по ЦК
"""

In [20]:
import pandas as pd
import numpy as np
import openpyxl
import os
import warnings
warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')
warnings.filterwarnings('ignore', category=DeprecationWarning)
import copy

In [ ]:
def check_error(df:pd.DataFrame,name_file):
        # создаем датафрейм для регистрации ошибок
    error_df = pd.DataFrame(columns=['Название файла', 'Строка или колонка с ошибкой', 'Описание ошибки', ])

In [2]:
path_to_data_ck = 'data/Отчет ЦК'

In [36]:
# создаем базовый датафрейм заполненный нулями
base_df = pd.DataFrame(np.zeros((5,27)))
base_df=base_df.applymap(int) # приводим его к инту
base_df.columns = ['05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24',
                   '25','26','27','28','29','30','31']

In [37]:
base_df

,05,06,07,08,09,10,11,12,13,14,...,22,23,24,25,26,27,28,29,30,31
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
for file in os.listdir(path_to_data_ck):
    name_file = file.split('.xlsx')[0]
    print(name_file)

~$отчет для цк №1
отчет для цк №1

In [ ]:
# Перебираем файлы

In [21]:
temp_df_ck = pd.read_excel(f'{path_to_data_ck}/отчет для цк №1.xlsx',skiprows=5,nrows=5)

In [22]:
temp_df_ck

,03,04,05,06,07,08,09,10,11,12,...,23,24,25,26,27,28,29,30,31,32
0,1,Всего (общая численность выпускников),10.0,5.0,3.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,Обзвон-32
1,2,из общей численности выпускников (из строки 01...,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,из числа лиц с ОВЗ (из строки 02): инвалиды и ...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Инвалиды и дети-инвалиды (кроме учтенных в стр...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Имеют договор о целевом обучении,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Создаем копию датафрейма только с числовыми колонками
temp_df_int = temp_df_ck.iloc[:,2:29].copy()
# заменяем пустые ячейки нулями

temp_df_int.fillna(0,inplace=True)
temp_df_int = temp_df_int.applymap(int)

In [39]:
temp_df_int

,05,06,07,08,09,10,11,12,13,14,...,22,23,24,25,26,27,28,29,30,31
0,10,5,3,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
1,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
base_df + temp_df_int

,05,06,07,08,09,10,11,12,13,14,...,22,23,24,25,26,27,28,29,30,31
0,10,5,3,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
1,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0