In [1016]:
"""
скрипт для обработки данных мониторинга трудоустройства
"""

'\nскрипт для обработки данных мониторинга трудоустройства\n'

In [1017]:
import pandas as pd
import numpy as np
import openpyxl
import warnings
import copy
import math
import os

warnings.simplefilter(action='ignore', category=UserWarning)

In [1018]:
def check_data(cell):
    """
    Метод для проверки значения ячейки
    :param cell: значение ячейки
    :return: число в формате int
    """
    if cell is np.nan:
        return 0
    if cell.isdigit():
        return int(cell)
    else:
        return 0

In [1019]:
def check_data_note(cell):
    if cell is np.nan:
        return 'Не заполнено'
    return str(cell)

def replace_raw_name_row(cell):
    """
    Функция для замены названий строк с категориями на правильные
    """
    dct = {'Строка 1':'Всего (общая численность выпускников)','Строка 2':'из общей численности выпускников (из строки 01): лица с ОВЗ','Строка 3':'из числа лиц с ОВЗ (из строки 02): инвалиды и дети-инвалиды',
           'Строка 4':'Инвалиды и дети-инвалиды (кроме учтенных в строке 03)','Строка 5':'Имеют договор о целевом обучении','Строка 6':'Автосумма строк 02 и 04 - Всего (общая численность выпускников из числа лиц с ОВЗ, инвалидов и детей-инвалидов) '
           ,'Строка 7':'из общей численности выпускников из числа лиц с ОВЗ, инвалидов и детей-инвалидов (из строки 06): с нарушениями: зрения','Строка 8':'слуха','Строка 9':'опорно-двигательного аппарата',
           'Строка 10':'тяжелыми нарушениями речи','Строка 11':'задержкой психического развития','Строка 12':'расстройствами аутистического спектра',
           'Строка 13':'с инвалидностью вследствие  других причин','Строка 14':'из общей численности выпускников из числа лиц с ОВЗ, инвалидов и детей-инвалидов (из строки 06): имеют договор о целевом обучении',
           'Строка 15':'Узнать название ячейки',
          }
    return dct[cell]

In [ ]:
def replace_raw_name_row(cell,dct):
    """
    Функция для замены названий строк с категориями на правильные
    """
    return dct[cell]

In [1021]:
path_to_files ='data/poo'
path_to_end_folder = 'data/temp'

In [1022]:
# создаем словарь верхнего уровня для каждого поо
high_level_dct = {}

In [1023]:
for file in os.listdir(path_to_files):
    name_file = file.split('.xlsx')[0]
    print(name_file)
    df = pd.read_excel(f'{path_to_files}/{file}',skiprows=7,dtype=str)
    print(df.shape)
    df.columns = list(map(str,df.columns))
    # Заполняем пока пропуски в 15 ячейке для каждой специальности
    df['06'] = df['06'].fillna('15 ячейка')

    # очищаем от нан и возможнных пустых пробелов
    code_spec =[spec for spec in df['03'].unique() if spec is not np.nan]
    code_spec =[spec for spec in code_spec if spec != ' ']

    # Создаем список для строк
    row_cat = [f'Строка {i}' for i in range(1,16)]
    # Создаем список для колонок
    column_cat = [f'Колонка {i}' for i in range(7,34)]

    # Создаем словарь нижнего уровня содержащий в себе все данные для каждой специальности
    spec_dict = {}
    for row in row_cat:
        spec_dict[row] = {key:0 for key in column_cat}
    
    
    # Изменяем последний ключ на строковый поскольку там будут хранится примечания
    for row,value in spec_dict.items():
        for col,data in value.items():
            if col == 'Колонка 33':
                spec_dict[row][col] = ''
    # Создаем словарь среднего уровня содержащй данные по всем специальностям
    poo_dct = {key:copy.deepcopy(spec_dict) for key in code_spec}

    high_level_dct[name_file] = copy.deepcopy(poo_dct)

    """
    В итоге получается такая структура
    {БРИТ:{13.01.10:{Строка 1:{Колонка 1:0}}},ТСИГХ:{22.01.10:{Строка 1:{Колонка 1:0}}}}

    """

    current_code = 'Ошибка проверьте правильность заполнения кодов специальностей' # чекбокс для проверки заполнения кода специальности

    idx_row = 1 # счетчик обработанных строк

    # Итерируемся по полученному датафрейму через itertuples
    for row in df.itertuples():
        # если счетчик колонок больше 15 то уменьшаем его до единицы
        if idx_row >15:
            idx_row = 1

        #print(row)
        # Проверяем на незаполненные ячейки и ячейки заполненные пробелами
        if (row[3] is not np.nan) and (row[3] != ' '):
            # если значение ячейки отличается от текущего кода специальности то обновляем значение текущего кода
            if row[3] != current_code:
                current_code = row[3]
            
        data_row = row[7:34] # получаем срез с нужными данными     
        for idx_col,value in enumerate(data_row,start=1):
            if idx_col + 6 == 33:
                # сохраняем примечания в строке
                print(value)
                high_level_dct[name_file][current_code][f'Строка {idx_row}'][f'Колонка {idx_col + 6}'] = f'{name_file} {check_data_note(value)};'

            else:                
                high_level_dct[name_file][current_code][f'Строка {idx_row}'][f'Колонка {idx_col + 6}'] += check_data(value)
        
        idx_row += 1

Брит - 2022
(255, 34)
пример примечания
строка 1
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
раппар54
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
ТСИГХ мониторониг
(225, 34)
пример примечания
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
раппар54
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [1024]:
high_level_dct['Брит - 2022']['43.01.06']['Строка 1']

{'Колонка 7': 21,
 'Колонка 8': 8,
 'Колонка 9': 7,
 'Колонка 10': 100,
 'Колонка 11': 0,
 'Колонка 12': 0,
 'Колонка 13': 9,
 'Колонка 14': 3,
 'Колонка 15': 0,
 'Колонка 16': 1,
 'Колонка 17': 0,
 'Колонка 18': 0,
 'Колонка 19': 0,
 'Колонка 20': 0,
 'Колонка 21': 0,
 'Колонка 22': 0,
 'Колонка 23': 0,
 'Колонка 24': 0,
 'Колонка 25': 0,
 'Колонка 26': 0,
 'Колонка 27': 0,
 'Колонка 28': 0,
 'Колонка 29': 0,
 'Колонка 30': 0,
 'Колонка 31': 0,
 'Колонка 32': 0,
 'Колонка 33': 'Брит - 2022 пример примечания;'}

In [1025]:
high_level_dct['ТСИГХ мониторониг']['43.01.06']['Строка 1']

{'Колонка 7': 21,
 'Колонка 8': 8,
 'Колонка 9': 7,
 'Колонка 10': 55,
 'Колонка 11': 0,
 'Колонка 12': 0,
 'Колонка 13': 0,
 'Колонка 14': 0,
 'Колонка 15': 0,
 'Колонка 16': 1,
 'Колонка 17': 0,
 'Колонка 18': 0,
 'Колонка 19': 0,
 'Колонка 20': 0,
 'Колонка 21': 0,
 'Колонка 22': 0,
 'Колонка 23': 0,
 'Колонка 24': 0,
 'Колонка 25': 0,
 'Колонка 26': 0,
 'Колонка 27': 0,
 'Колонка 28': 0,
 'Колонка 29': 0,
 'Колонка 30': 0,
 'Колонка 31': 0,
 'Колонка 32': 0,
 'Колонка 33': 'ТСИГХ мониторониг пример примечания;'}

In [1026]:

# получаем уникальные специальности
all_spec_code = set()
for poo,spec in high_level_dct.items():
    for code_spec,data in spec.items():
        all_spec_code.add(code_spec)

In [1027]:
itog_df = {key:copy.deepcopy(spec_dict) for key in all_spec_code}

In [1028]:
# Складываем результаты
for poo,spec in high_level_dct.items():
    for code_spec,data in spec.items():
        for row,col_data in data.items():
            for col,value in col_data.items():
                if col == 'Колонка 33':
                    itog_df[code_spec][row][col] += check_data_note(value)
                else:
                    itog_df[code_spec][row][col] += value

In [1029]:
itog_df['43.01.06']['Строка 1']['Колонка 33']

'Брит - 2022 пример примечания;ТСИГХ мониторониг пример примечания;'

In [1030]:
out_df =pd.DataFrame.from_dict(itog_df, orient='index')

In [1031]:
stack_df = out_df.stack()
    # название такое выбрал потому что было лень заменять значения из блокнота юпитера
frame = stack_df.to_frame()

In [1032]:
frame

                                                                    0
43.01.09 Строка 1   {'Колонка 7': 22, 'Колонка 8': 12, 'Колонка 9'...
         Строка 2   {'Колонка 7': 0, 'Колонка 8': 0, 'Колонка 9': ...
         Строка 3   {'Колонка 7': 0, 'Колонка 8': 0, 'Колонка 9': ...
         Строка 4   {'Колонка 7': 0, 'Колонка 8': 0, 'Колонка 9': ...
         Строка 5   {'Колонка 7': 0, 'Колонка 8': 0, 'Колонка 9': ...
...                                                               ...
15.01.05 Строка 11  {'Колонка 7': 0, 'Колонка 8': 0, 'Колонка 9': ...
         Строка 12  {'Колонка 7': 0, 'Колонка 8': 0, 'Колонка 9': ...
         Строка 13  {'Колонка 7': 0, 'Колонка 8': 0, 'Колонка 9': ...
         Строка 14  {'Колонка 7': 0, 'Колонка 8': 0, 'Колонка 9': ...
         Строка 15  {'Колонка 7': 0, 'Колонка 8': 0, 'Колонка 9': ...

[255 rows x 1 columns]

In [1033]:
frame['Всего'] = frame[0].apply(lambda x:x.get('Колонка 7'))
frame['Трудоустроены (по трудовому договору, договору ГПХ в соответствии с трудовым законодательством, законодательством  об обязательном пенсионном страховании)'] = frame[0].apply(lambda x:x.get('Колонка 8'))
frame['В том числе (из трудоустроенных): в соответствии с освоенной профессией, специальностью (исходя из осуществляемой трудовой функции)'] = frame[0].apply(lambda x:x.get('Колонка 9'))
frame['В том числе (из трудоустроенных): работают на протяжении не менее 4-х месяцев на последнем месте работы'] = frame[0].apply(lambda x:x.get('Колонка 10'))
frame['Индивидуальные предприниматели'] = frame[0].apply(lambda x:x.get('Колонка 11'))
frame['Самозанятые (перешедшие на специальный налоговый режим  - налог на профессио-нальный доход)'] = frame[0].apply(lambda x:x.get('Колонка 12'))
frame['Продолжили обучение'] = frame[0].apply(lambda x:x.get('Колонка 13'))
frame['Проходят службу в армии по призыву'] = frame[0].apply(lambda x:x.get('Колонка 14'))
frame['Проходят службу в армии на контрактной основе, в органах внутренних дел, Государственной противопожарной службе, органах по контролю за оборотом наркотических средств и психотропных веществ, учреждениях и органах уголовно-исполнительной системы, войсках национальной гвардии Российской Федерации, органах принудительного исполнения Российской Федерации*'] = frame[0].apply(lambda x:x.get('Колонка 15'))
frame['Находятся в отпуске по уходу за ребенком'] = frame[0].apply(lambda x:x.get('Колонка 16'))
frame['Неформальная занятость (нелегальная)'] = frame[0].apply(lambda x:x.get('Колонка 17'))
frame['Зарегистрированы в центрах занятости в качестве безработных (получают пособие по безработице) и не планируют трудоустраиваться'] = frame[0].apply(lambda x:x.get('Колонка 18'))
frame['Не имеют мотивации к трудоустройству (кроме зарегистрированных в качестве безработных) и не планируют трудоустраиваться, в том числе по причинам получения иных социальных льгот '] = frame[0].apply(lambda x:x.get('Колонка 19'))
frame['Иные причины нахождения под риском нетрудоустройства'] = frame[0].apply(lambda x:x.get('Колонка 20'))
frame['Смерть, тяжелое состояние здоровья'] = frame[0].apply(lambda x:x.get('Колонка 21'))
frame['Находятся под следствием, отбывают наказание'] = frame[0].apply(lambda x:x.get('Колонка 22'))
frame['Переезд за пределы Российской Федерации (кроме переезда в иные регионы - по ним регион должен располагать сведениями)'] = frame[0].apply(lambda x:x.get('Колонка 23'))
frame['Не могут трудоустраиваться в связи с уходом за больными родственниками, в связи с иными семейными обстоятельствами'] = frame[0].apply(lambda x:x.get('Колонка 24'))
frame['Выпускники из числа иностранных граждан, которые не имеют СНИЛС'] = frame[0].apply(lambda x:x.get('Колонка 25'))
frame['Иное (в первую очередь выпускники распределяются по всем остальным графам. Данная графа предназначена для очень редких случаев. Если в нее включено более 1 из 200 выпускников - укажите причины в гр. 33 '] = frame[0].apply(lambda x:x.get('Колонка 26'))
frame['будут трудоустроены'] = frame[0].apply(lambda x:x.get('Колонка 27'))
frame['будут осуществлять предпринимательскую деятельность'] = frame[0].apply(lambda x:x.get('Колонка 28'))
frame['будут самозанятыми'] = frame[0].apply(lambda x:x.get('Колонка 29'))
frame['будут призваны в армию'] = frame[0].apply(lambda x:x.get('Колонка 30'))
frame['будут в армии на контрактной основе, в органах внутренних дел, Государственной противопожарной службе, органах по контролю за оборотом наркотических средств и психотропных веществ, учреждениях и органах уголовно-исполнительной системы, войсках национальной гвардии Российской Федерации, органах принудительного исполнения Российской Федерации*'] = frame[0].apply(lambda x:x.get('Колонка 31'))
frame['будут продолжать обучение'] = frame[0].apply(lambda x:x.get('Колонка 32'))
frame['Принимаемые меры по содействию занятости (тезисно - вид меры, охват выпускников мерой)'] = frame[0].apply(lambda x:x.get('Колонка 33'))

In [1035]:
finish_df = frame.drop([0],axis=1)

In [1036]:
finish_df=finish_df.reset_index()

In [1037]:
finish_df.rename(columns={'level_0':'Код специальности','level_1':'Наименование показателей (категория выпускников)'},inplace=True)

In [1038]:
#finish_df['Наименование показателей (категория выпускников)'] = finish_df['Наименование показателей (категория выпускников)'].apply(replace_raw_name_row)

In [1042]:
dct = {'Строка 1':'Всего (общая численность выпускников)','Строка 2':'из общей численности выпускников (из строки 01): лица с ОВЗ','Строка 3':'из числа лиц с ОВЗ (из строки 02): инвалиды и дети-инвалиды',
           'Строка 4':'Инвалиды и дети-инвалиды (кроме учтенных в строке 03)','Строка 5':'Имеют договор о целевом обучении','Строка 6':'Автосумма строк 02 и 04 - Всего (общая численность выпускников из числа лиц с ОВЗ, инвалидов и детей-инвалидов) '
           ,'Строка 7':'из общей численности выпускников из числа лиц с ОВЗ, инвалидов и детей-инвалидов (из строки 06): с нарушениями: зрения','Строка 8':'слуха','Строка 9':'опорно-двигательного аппарата',
           'Строка 10':'тяжелыми нарушениями речи','Строка 11':'задержкой психического развития','Строка 12':'расстройствами аутистического спектра',
           'Строка 13':'с инвалидностью вследствие  других причин','Строка 14':'из общей численности выпускников из числа лиц с ОВЗ, инвалидов и детей-инвалидов (из строки 06): имеют договор о целевом обучении',
           'Строка 15':'Узнать название ячейки',
          }
finish_df['Наименование показателей (категория выпускников)'] = finish_df['Наименование показателей (категория выпускников)'].apply(lambda x:dct[x])

KeyError: 'Всего (общая численность выпускников)'

In [1039]:
finish_df.to_excel('finisj.xlsx',index=False)