In [76]:
"""
скрипт для собирания отчетов по демоэкзамену
"""

'\nскрипт для собирания отчетов по демоэкзамену\n'

In [77]:
# -*- coding: UTF-8 -*-
import pandas as pd
import numpy as np
import tkinter
import sys
import os
import time
# pd.options.mode.chained_assignment = None  # default='warn'
import warnings

warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')
warnings.filterwarnings('ignore', category=DeprecationWarning)
warnings.filterwarnings('ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None
import copy
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
import re
import random
pd.options.display.width = 0

In [78]:
path_to_data = 'data/demo' 
error_df = pd.DataFrame(columns=['Название файла', 'Строка или колонка с ошибкой', 'Описание ошибки', ]) # датафрейм с ошибками

In [92]:
# Создаем датафреймы в которые будем собирать данные
df_1 = pd.DataFrame(columns=range(8))

df_2 = pd.DataFrame(columns=range(17))

df_3 = pd.DataFrame(columns=range(16))

In [93]:
for file in os.listdir(path_to_data):
    if not file.startswith('~$') and file.endswith('.xls'):
        name_file = file.split('.xls')[0]
        temp_error_df = pd.DataFrame(data=[[f'{name_file}', '',
                                            'Файл с расширением XLS (СТАРЫЙ ФОРМАТ EXCEL)!!! ДАННЫЕ ФАЙЛА НЕ ОБРАБОТАНЫ !!! ']],
                                     columns=['Название файла', 'Строка или колонка с ошибкой',
                                              'Описание ошибки'])
        error_df = pd.concat([error_df, temp_error_df], axis=0, ignore_index=True)
        continue

    if not file.startswith('~$') and file.endswith('.xlsx'):
        name_file = file.split('.xlsx')[0]
        print(name_file)
        
        # Лист 1
        temp_df_1 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма1',skiprows=3,usecols='A:G',header=None)
        temp_df_1.dropna(inplace=True,thresh=2) # удаляем пустые строки
        temp_df_1[7] = name_file
        
        df_1 = pd.concat([df_1,temp_df_1],ignore_index=True)
                
        # Лист 2
        
        temp_df_2 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма2',skiprows=3,usecols='A:P',header=None)
        temp_df_2.dropna(inplace=True,thresh=2) # удаляем пустые строки
        temp_df_2[16] = name_file
        
        df_2 = pd.concat([df_2,temp_df_2],ignore_index=True)
        
        # Лист 3
        temp_df_3 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма3',skiprows=3,usecols='A:O',header=None)
        print(temp_df_3)
        temp_df_3.dropna(inplace=True,thresh=2) # удаляем пустые строки
        temp_df_3[15] = name_file
        
        df_3 = pd.concat([df_3,temp_df_3],ignore_index=True)

03_Республика Бурятия_формы ДЭ
      0       1                   2   \
0      1  200278  Республика Бурятия
1      2  200278  Республика Бурятия
2      3  200278  Республика Бурятия
3      4  200278  Республика Бурятия
4      5  207698  Республика Бурятия
..   ...     ...                 ...
644  645  232591  Республика Бурятия
645  646  232591  Республика Бурятия
646  647  232591  Республика Бурятия
647  648  232682  Республика Бурятия
648  649  232682  Республика Бурятия

                                                    3   \
0    ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...
1    ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...
2    ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...
3    ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...
4    ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...
..                                                 ...
644  ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...
645  ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...
646  ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...
647  ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...
648  ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБР...

                                                    4          5          6   \
0    38.02.01 Экономика и бухгалтерский учет (по от... 2023-02-17 2023-02-17
1    38.02.01 Экономика и бухгалтерский учет (по от... 2023-02-17 2023-02-17
2    38.02.01 Экономика и бухгалтерский учет (по от... 2023-02-17 2023-02-17
3    38.02.01 Экономика и бухгалтерский учет (по от... 2023-02-17 2023-02-17
4    23.01.17 Мастер по ремонту и обслуживанию авто... 2023-05-23 2023-05-31
..                                                 ...        ...        ...
644  13.02.11 Техническая эксплуатация и обслуживан... 2023-06-17 2023-06-19
645  13.02.11 Техническая эксплуатация и обслуживан... 2023-06-17 2023-06-19
646  13.02.11 Техническая эксплуатация и обслуживан... 2023-06-17 2023-06-19
647  15.01.33 Токарь на станках с числовым программ... 2023-06-17 2023-06-17
648  15.01.33 Токарь на станках с числовым программ... 2023-06-17 2023-06-17

                                  7                            8   \
0     Сабхаева Раджана Александровна               sr0710@mail.ru
1      Ангальд Вероника Владимировна              angaldv@mail.ru
2         Токарева Елена Анатольевна           gre4ko44@yandex.ru
3       Хантургаева Арюна Аркадьевна                aahan@mail.ru
4    Ульянова Светлана Александровна  uljanova.swetlana@yandex.ru
..                               ...                          ...
644          Малышева Вера Сергеевна   vera.malysheva.03@inbox.ru
645         Мохов Алексей Валерьевич     brit.britovsky@yandex.ru
646    Поломошных Сергей Прокопьевич         polomoshnykh56@bk.ru
647       Улаханов Николай Сергеевич          nulahanov@gmail.com
648       Батуев Цырен Александрович              batuevc@mail.ru

                  9   10  11  12  \
0    Главный эксперт NaN NaN NaN
1            Эксперт NaN NaN NaN
2            Эксперт NaN NaN NaN
3            Эксперт NaN NaN NaN
4    Главный эксперт NaN NaN NaN
..               ...  ..  ..  ..
644          Эксперт NaN NaN NaN
645          Эксперт NaN NaN NaN
646          Эксперт NaN NaN NaN
647  Главный эксперт NaN NaN NaN
648          Эксперт NaN NaN NaN

                                                    13          14
0                                                  NaN
1
2
3
4
..                                                 ...         ...
644  Государственное бюджетное профессиональное обр...  0326481349
645                                      ПАО "Россети"  7728662669
646  ФГБОУ ВО "Восточно-сибирский государственный у...  0323060215
647  Федеральное государственное бюджетное образова...  0323060215
648  Федеральное государственное бюджетное образова...  0323060215

[649 rows x 15 columns]

In [89]:
temp_df_3

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 15]
Index: []

In [90]:
df_3

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Index: []

In [83]:
error_df

,Название файла,Строка или колонка с ошибкой,Описание ошибки
0,старый отчет,,Файл с расширением XLS (СТАРЫЙ ФОРМАТ EXCEL)!!...