In [310]:
"""
скрипт для собирания отчетов по демоэкзамену
"""

'\nскрипт для собирания отчетов по демоэкзамену\n'

In [311]:
# -*- coding: UTF-8 -*-
import pandas as pd
import numpy as np
import tkinter
import sys
import os
import time
# pd.options.mode.chained_assignment = None  # default='warn'
import warnings

warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')
warnings.filterwarnings('ignore', category=DeprecationWarning)
warnings.filterwarnings('ignore', category=FutureWarning)
pd.options.mode.chained_assignment = None
import copy
import openpyxl
from openpyxl.utils.dataframe import dataframe_to_rows
import re
import random
pd.options.display.width = 0

In [312]:
path_to_data = 'data/demo' 
error_df = pd.DataFrame(columns=['Название файла', 'Строка или колонка с ошибкой', 'Описание ошибки', ]) # датафрейм с ошибками
path_to_end_folder = 'data'

In [313]:
# Создаем датафреймы в которые будем собирать данные
df_1 = pd.DataFrame(columns=range(8))

df_2 = pd.DataFrame(columns=range(17))

df_3 = pd.DataFrame(columns=range(16))

df_4 = pd.DataFrame(columns=range(22))

df_5 = pd.DataFrame(columns=range(30))

df_6 = pd.DataFrame(columns=range(12))

df_7 = pd.DataFrame(columns=range(5))

df_8 = pd.DataFrame(columns=range(9))

df_9 = pd.DataFrame(columns=range(17))

In [314]:
empty_list = 'Лист не заполнен' # заглушка для пустых листов

In [315]:
for file in os.listdir(path_to_data):
    if not file.startswith('~$') and file.endswith('.xls'):
        name_file = file.split('.xls')[0]
        temp_error_df = pd.DataFrame(data=[[f'{name_file}', '',
                                            'Файл с расширением XLS (СТАРЫЙ ФОРМАТ EXCEL)!!! ДАННЫЕ ФАЙЛА НЕ ОБРАБОТАНЫ !!! ']],
                                     columns=['Название файла', 'Строка или колонка с ошибкой',
                                              'Описание ошибки'])
        error_df = pd.concat([error_df, temp_error_df], axis=0, ignore_index=True)
        continue

    if not file.startswith('~$') and file.endswith('.xlsx'):
        name_file = file.split('.xlsx')[0]
        print(name_file)
        
        # Лист 1
        temp_df_1 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма1',skiprows=3,usecols='A:G',header=None)
        temp_df_1.dropna(inplace=True,thresh=2) # удаляем пустые строки
        if temp_df_1.shape[0] == 0: # если лист пуст то добавляем строку чтобы можно было потом понять что лист не заполнен
            temp_df_1[len(temp_df_1)] = [empty_list]  
        temp_df_1[7] = name_file
        
        df_1 = pd.concat([df_1,temp_df_1],ignore_index=True)
                
        # Лист 2
        
        temp_df_2 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма2',skiprows=3,usecols='A:P',header=None)
        temp_df_2.dropna(inplace=True,thresh=2) # удаляем пустые строки
        if temp_df_2.shape[0] == 0: # если лист пуст то добавляем строку чтобы можно было потом понять что лист не заполнен
            temp_df_2[len(temp_df_2)] = [empty_list]  

        temp_df_2[16] = name_file
        
        df_2 = pd.concat([df_2,temp_df_2],ignore_index=True)
        
        # Лист 3
        temp_df_3 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма3',skiprows=3,usecols='A:O',header=None)
        temp_df_3.dropna(inplace=True,thresh=2) # удаляем пустые строки
        if temp_df_3.shape[0] == 0: # если лист пуст то добавляем строку чтобы можно было потом понять что лист не заполнен
            temp_df_3[len(temp_df_3)] = [empty_list]  
        temp_df_3[15] = name_file
        
        df_3 = pd.concat([df_3,temp_df_3],ignore_index=True)
        
                # Лист 4
        temp_df_4 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма4',skiprows=3,usecols='A:U',header=None)
        temp_df_4.dropna(inplace=True,thresh=2) # удаляем пустые строки
        if temp_df_4.shape[0] == 0: # если лист пуст то добавляем строку чтобы можно было потом понять что лист не заполнен
            temp_df_4[len(temp_df_4)] = [empty_list]  
        temp_df_4[22] = name_file
        
        df_4 = pd.concat([df_4,temp_df_4],ignore_index=True)
        
        
                
                # Лист 5
        temp_df_5 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма5',skiprows=3,usecols='A:AC',header=None)
        temp_df_5.dropna(inplace=True,thresh=2) # удаляем пустые строки
        if temp_df_5.shape[0] == 0: # если лист пуст то добавляем строку чтобы можно было потом понять что лист не заполнен
            temp_df_5[len(temp_df_5)] = [empty_list]  
        temp_df_5[29] = name_file
        
        df_5 = pd.concat([df_5,temp_df_5],ignore_index=True)
        
         # Лист 6
        temp_df_6 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма6',skiprows=3,usecols='A:K',header=None)
        temp_df_6.dropna(inplace=True,thresh=2) # удаляем пустые строки
        if temp_df_6.shape[0] == 0: # если лист пуст то добавляем строку чтобы можно было потом понять что лист не заполнен
            temp_df_6[len(temp_df_6)] = [empty_list]  
        temp_df_6[11] = name_file
        
        df_6 = pd.concat([df_6,temp_df_6],ignore_index=True)
        
         # Лист 7
        temp_df_7 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма7',skiprows=3,usecols='A:D',header=None)
        temp_df_7.dropna(inplace=True,thresh=2) # удаляем пустые строки
        if temp_df_7.shape[0] == 0: # если лист пуст то добавляем строку чтобы можно было потом понять что лист не заполнен
            temp_df_7[len(temp_df_7)] = [empty_list]            
        
        temp_df_7[5] = name_file
        
        df_7 = pd.concat([df_7,temp_df_7],ignore_index=True)
        
        # Лист 8
        temp_df_8 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма8',skiprows=3,usecols='A:H',header=None)
        temp_df_8.dropna(inplace=True,thresh=2) # удаляем пустые строки
        if temp_df_8.shape[0] == 0: # если лист пуст то добавляем строку чтобы можно было потом понять что лист не заполнен
            temp_df_8[len(temp_df_8)] = [empty_list]            
        
        temp_df_8[9] = name_file
        
        df_8 = pd.concat([df_8,temp_df_8],ignore_index=True)
        
        # Лист 9
        temp_df_9 = pd.read_excel(f'{path_to_data}/{file}',sheet_name='Форма9',skiprows=4,usecols='A:P',header=None)
        temp_df_9.dropna(inplace=True,thresh=2) # удаляем пустые строки
        if temp_df_9.shape[0] == 0: # если лист пуст то добавляем строку чтобы можно было потом понять что лист не заполнен
            temp_df_9[len(temp_df_9)] = [empty_list]            
        
        temp_df_9[17] = name_file
        
        df_9 = pd.concat([df_9,temp_df_9],ignore_index=True)

03_Республика Бурятия_формы ДЭ
Отчет ДЭ финансовый колледж

In [316]:
temp_df_1

                  0   1    2   3   4   5   6                            7
0  Лист не заполнен NaN  NaN NaN NaN NaN NaN  Отчет ДЭ финансовый колледж

In [317]:
df_1

,0,1,2,3,4,5,6,7
0,Лист не заполнен,NaN,NaN,NaN,NaN,NaN,NaN,03_Республика Бурятия_формы ДЭ
1,Лист не заполнен,NaN,NaN,NaN,NaN,NaN,NaN,Отчет ДЭ финансовый колледж

In [318]:
t = time.localtime()
current_time = time.strftime('%H_%M_%S', t)

In [319]:
with pd.ExcelWriter(f'{path_to_end_folder}/Общий свод от {current_time}.xlsx') as writer:
    df_1.to_excel(writer,sheet_name='Форма1',index=False)
    df_2.to_excel(writer,sheet_name='Форма2',index=False)
    df_3.to_excel(writer,sheet_name='Форма3',index=False)
    df_4.to_excel(writer,sheet_name='Форма4',index=False)
    df_5.to_excel(writer,sheet_name='Форма5',index=False)
    df_6.to_excel(writer,sheet_name='Форма6',index=False)
    df_7.to_excel(writer,sheet_name='Форма7',index=False)
    df_8.to_excel(writer,sheet_name='Форма8',index=False)
    df_9.to_excel(writer,sheet_name='Форма9',index=False)

In [320]:
error_df

,Название файла,Строка или колонка с ошибкой,Описание ошибки
0,старый отчет,,Файл с расширением XLS (СТАРЫЙ ФОРМАТ EXCEL)!!...

In [321]:
error_df.to_excel(f'{path_to_end_folder}/Ошибки {current_time}.xlsx',index=False)